.App {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(12,1fr);
  grid-template-rows: repeat(12,1fr);
 }
 .App>.Header{
  background-color: var(--background-color);
  color: var(--primary-color);
  grid-column: 12 span;
  grid-row: 1 span;
}
.App>.Menu{
  background-color: var(--background-color);
  color: var(--primary-color);
  grid-column: 2 span;
  grid-row: 10 span;
}
.App>.Main{
  background-color: var(--primary-color);
  grid-column: 10 span;
  grid-row: 10 span;
}
.App>.Footer{
  background-color: #14FFEC;
  grid-column: 12 span;
  grid-row: 1 span;
}
.App button{
  font-size: 28px;
}

